[Unit]
Description="Clearpath robot sub-service, launch all platform nodes"
PartOf=clearpath-robot.service
After=clearpath-robot.service

[Service]
User=administrator
Type=simple
ExecStart=/usr/sbin/clearpath-platform-start

[Install]
WantedBy=clearpath-robot.service
